body{
   font-family: 'Poppins', sans-serif; 
}
a, a:hover{
    text-decoration: none;
}
.deals-section 
.course-section .course-card{
    margin-left: 15px;
}
.course-section .course-card p{
    margin: 0;
}
.course-section .courses-btn{
    text-align: center;
}
.deals-section{
    background-color:  #F4FAFD;
}


