body{
   font-family: 'Poppins', sans-serif; 
}
a, a:hover{
    text-decoration: none;
}

.course-section .course-card{
    margin-left: 15px;
}
.course-section .course-card p{
    margin: 0;
}
.deals-section{
    background-color:  #F4FAFD;
}
.register-section{
    background-color:#289BDE;
}


